# Ignore All Files
*
!*/
*.*

# Add back some directories
!/AddOns/zdios/*
!/AddOns/mTrack/*
!/AddOns/mFrame/*
!/AddOns/mTooltip/*

AddOns/Butsu/LICENSE
AddOns/Butsu/LICENSE
AddOns/oUF/LICENSE
AddOns/oUF/utils/changelog
AddOns/tullaRange/LICENSE
AddOns/oUF/utils/docs
AddOns/DS_Store
