# Ignore All Files
*
!*/


# Add back some directories
!/Tooltips/*
!/AddOns/zdios/*
!/AddOns/mTrack/*
!/AddOns/mFrame/*
!/AddOns/mGuide/*
!/AddOns/mTooltip/*
!/AddOns/mMap/*
!/AddOns/mChar/*
!/Addons/rActionBarStyler
!/Addons/rActionButtonStyler
!/Addons/rLib

*/LICENSE
*/changelog
*/docs
